body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	background-color: #7DB5E6;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #7DB5E6;
}

.right {
  right: 0;
  background-color: #7DB5E6;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: rgb(254, 255, 252);
	text-align: left;
}

#title {
	color: rgb(255, 128, 139);
	font-size: 50pt;
}

.button {
	position: absolute;
	font-size: 1.1em;
	color: rgb(254, 255, 252);
	background: none;
	border: none;
	margin: 0;
	padding: 20px;
	text-align: center;
	transition: 0.2s;
}

#fashion {
	left: 47%;
	bottom: 92%;
}

#travel {
	left: 34%;
	bottom: 92%;
}

#aboutme2 {
	left: 15%;
	bottom: 92%;
}

#home {
	left: 1%;
	bottom: 92%;
}
